<br />


  <h1 class="text-center">Learn something today</h1>
  <hr />

<% @courses.each do |course| %>
    <div class="booyah-box col-10 offset-1">
        <div class="row">
            <div class="col col-12">
                <h2 class="text-center">
                    <%= link_to course.title, course_path(course) %>
                </h2>
            </div>
            <div class="col col-12">
                <div class="row description-box">
                    <div class="col-4">
                        <%= link_to 'Button', course_path(course), class: 'btn btn-success btn-large' %>
                    </div>
                    <div class="col-4">
                        <%= course.description %>
                    </div>
                    <div class="col col-4">
                        <% if course.image.present? %>
                            <%= image_tag course.image.url, class: 'contain-img' %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <br />
        
        <hr>
    </div>
<% end %>
<br class="clr" /><br />
